<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huatai.web.mapper.ImportTempMapper" >
  <resultMap id="BaseResultMap" type="com.huatai.web.model.ImportTemp" >
    <id column="IT_ID" property="itId" jdbcType="BIGINT" />
    <result column="IMP_TEMP_CODE" property="impTempCode" jdbcType="VARCHAR" />
    <result column="IMP_TEMP_NAME" property="impTempName" jdbcType="VARCHAR" />
    <result column="IMP_TEMP_PATH" property="impTempPath" jdbcType="VARCHAR" />
    <result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" />
    <result column="OP_TYPE" property="opType" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="CREATOR_ID" property="creatorId" jdbcType="VARCHAR" />
    <result column="MODIFIER_ID" property="modifierId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    IT_ID, IMP_TEMP_CODE, IMP_TEMP_NAME, IMP_TEMP_PATH, DEPT_CODE, OP_TYPE, CREATE_TIME, 
    MODIFY_TIME, CREATOR_ID, MODIFIER_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.huatai.web.model.ImportTempExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ht_import_temp_tb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ht_import_temp_tb
    where IT_ID = #{itId,jdbcType=BIGINT}
  </select>
  <!-- <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ht_import_temp_tb
    where IT_ID = #{itId,jdbcType=BIGINT}
  </delete> -->
  <update id="deleteByPrimaryKey">
    update ht_import_temp_tb
    set 
      MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      MODIFIER_ID = #{record.modifierId,jdbcType=VARCHAR},
      OP_TYPE = #{record.opType,jdbcType=CHAR}
    where IT_ID = #{itId,jdbcType=BIGINT}
  </update>
  <delete id="deleteByExample" parameterType="com.huatai.web.model.ImportTempExample" >
    delete from ht_import_temp_tb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huatai.web.model.ImportTemp" >
    insert into ht_import_temp_tb (IT_ID, IMP_TEMP_CODE, IMP_TEMP_NAME, 
      IMP_TEMP_PATH, DEPT_CODE, OP_TYPE, 
      CREATE_TIME, MODIFY_TIME, CREATOR_ID, 
      MODIFIER_ID)
    values (#{itId,jdbcType=BIGINT}, #{impTempCode,jdbcType=VARCHAR}, #{impTempName,jdbcType=VARCHAR}, 
      #{impTempPath,jdbcType=VARCHAR}, #{deptCode,jdbcType=VARCHAR}, #{opType,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{creatorId,jdbcType=VARCHAR}, 
      #{modifierId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huatai.web.model.ImportTemp" >
    insert into ht_import_temp_tb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itId != null" >
        IT_ID,
      </if>
      <if test="impTempCode != null" >
        IMP_TEMP_CODE,
      </if>
      <if test="impTempName != null" >
        IMP_TEMP_NAME,
      </if>
      <if test="impTempPath != null" >
        IMP_TEMP_PATH,
      </if>
      <if test="deptCode != null" >
        DEPT_CODE,
      </if>
      <if test="opType != null" >
        OP_TYPE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="creatorId != null" >
        CREATOR_ID,
      </if>
      <if test="modifierId != null" >
        MODIFIER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itId != null" >
        #{itId,jdbcType=BIGINT},
      </if>
      <if test="impTempCode != null" >
        #{impTempCode,jdbcType=VARCHAR},
      </if>
      <if test="impTempName != null" >
        #{impTempName,jdbcType=VARCHAR},
      </if>
      <if test="impTempPath != null" >
        #{impTempPath,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null" >
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="opType != null" >
        #{opType,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="modifierId != null" >
        #{modifierId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huatai.web.model.ImportTempExample" resultType="java.lang.Integer" >
    select count(*) from ht_import_temp_tb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_import_temp_tb
    <set >
      <if test="record.itId != null" >
        IT_ID = #{record.itId,jdbcType=BIGINT},
      </if>
      <if test="record.impTempCode != null" >
        IMP_TEMP_CODE = #{record.impTempCode,jdbcType=VARCHAR},
      </if>
      <if test="record.impTempName != null" >
        IMP_TEMP_NAME = #{record.impTempName,jdbcType=VARCHAR},
      </if>
      <if test="record.impTempPath != null" >
        IMP_TEMP_PATH = #{record.impTempPath,jdbcType=VARCHAR},
      </if>
      <if test="record.deptCode != null" >
        DEPT_CODE = #{record.deptCode,jdbcType=VARCHAR},
      </if>
      <if test="record.opType != null" >
        OP_TYPE = #{record.opType,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creatorId != null" >
        CREATOR_ID = #{record.creatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.modifierId != null" >
        MODIFIER_ID = #{record.modifierId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_import_temp_tb
    set IT_ID = #{record.itId,jdbcType=BIGINT},
      IMP_TEMP_CODE = #{record.impTempCode,jdbcType=VARCHAR},
      IMP_TEMP_NAME = #{record.impTempName,jdbcType=VARCHAR},
      IMP_TEMP_PATH = #{record.impTempPath,jdbcType=VARCHAR},
      DEPT_CODE = #{record.deptCode,jdbcType=VARCHAR},
      OP_TYPE = #{record.opType,jdbcType=CHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      CREATOR_ID = #{record.creatorId,jdbcType=VARCHAR},
      MODIFIER_ID = #{record.modifierId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huatai.web.model.ImportTemp" >
    update ht_import_temp_tb
    <set >
      <if test="impTempCode != null" >
        IMP_TEMP_CODE = #{impTempCode,jdbcType=VARCHAR},
      </if>
      <if test="impTempName != null" >
        IMP_TEMP_NAME = #{impTempName,jdbcType=VARCHAR},
      </if>
      <if test="impTempPath != null" >
        IMP_TEMP_PATH = #{impTempPath,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null" >
        DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="opType != null" >
        OP_TYPE = #{opType,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null" >
        CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="modifierId != null" >
        MODIFIER_ID = #{modifierId,jdbcType=VARCHAR},
      </if>
    </set>
    where IT_ID = #{itId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huatai.web.model.ImportTemp" >
    update ht_import_temp_tb
    set IMP_TEMP_CODE = #{impTempCode,jdbcType=VARCHAR},
      IMP_TEMP_NAME = #{impTempName,jdbcType=VARCHAR},
      IMP_TEMP_PATH = #{impTempPath,jdbcType=VARCHAR},
      DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
      OP_TYPE = #{opType,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      MODIFIER_ID = #{modifierId,jdbcType=VARCHAR}
    where IT_ID = #{itId,jdbcType=BIGINT}
  </update>
  <select id="findByPager" resultMap="BaseResultMap">
  	select
		<include refid="Base_Column_List"></include>
		from ht_import_temp_tb
		<where>
			  DEPT_CODE in (${deptCode}) AND OP_TYPE !='D'
			  <if test="itId != null and itId!=''" >
		       and IT_ID = #{itId,jdbcType=BIGINT}
		      </if>
		      <if test="impTempCode != null and impTempCode != ''" >
		       and IMP_TEMP_CODE = #{impTempCode,jdbcType=VARCHAR}
		      </if>
		      <if test="impTempName != null and impTempName!=''" >
		       and IMP_TEMP_NAME = #{impTempName,jdbcType=VARCHAR}
		      </if>
		      <if test="impTempPath != null and impTempPath!=''" >
		        and CREATE_TIME = IMP_TEMP_PATH = #{impTempPath,jdbcType=VARCHAR}
		      </if>
		      <if test="opType != null and opType!=''" >
		        and OP_TYPE = #{opType,jdbcType=CHAR}
		      </if>
		      <if test="createTime != null and createTime!=''" >
		        and CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
		      </if>
		      <if test="modifyTime != null and modifyTime!=''" >
		        and MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
		      </if>
		      <if test="creatorId != null and creatorId!=''" >
		        and CREATOR_ID = #{creatorId,jdbcType=VARCHAR}
		      </if>
		      <if test="modifierId != null and modifierId!=''" >
		        and MODIFIER_ID = #{modifierId,jdbcType=VARCHAR}
		      </if>
	 </where>
  </select>
  <select id="selectUploadEX" resultType="com.huatai.web.model.DictItem">
  	SELECT b.CODE_  AS CODE, b.NAME_  AS NAME
	 FROM jdp_dict a
	   LEFT JOIN jdp_dict_item b
	     ON a.cid = b.DICT_ID
	 WHERE A.CODE_ = 'UPEX_CATE' ORDER BY b.code_ 
  </select>
</mapper>