<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huatai.web.mapper.OrganizationsMapper" >
  <resultMap id="BaseResultMap" type="com.huatai.web.model.Organization" >
    <id column="MANAGECOMCODE" property="manageComCode" jdbcType="VARCHAR" />
    <result column="MANAGECOMNAME" property="manageComName" jdbcType="VARCHAR" />
    <result column="HEADCOMCODE" property="headComCode" jdbcType="VARCHAR" />
    <result column="HEADCOMNAME" property="headComName" jdbcType="VARCHAR" />
    <result column="PROVCOMCODE" property="provComCode" jdbcType="VARCHAR" />
    <result column="PROVCOMNAME" property="provComName" jdbcType="VARCHAR" />
    <result column="COUNTCOMCODE" property="countComCode" jdbcType="VARCHAR" />
    <result column="COUNTCOMNAME" property="countComName" jdbcType="VARCHAR" />
    <result column="AGENTGROUPID" property="agentGroupId" jdbcType="DECIMAL" />
    <result column="AGENTGROUPCODE" property="agentGroupCode" jdbcType="VARCHAR" />
    <result column="AGENTGROUPNAME" property="agentGroupName" jdbcType="VARCHAR" />
    <result column="TEAMCOMCODE" property="teamComCode" jdbcType="VARCHAR" />
    <result column="HEADGROUPCODE" property="headGroupCode" jdbcType="VARCHAR" />
    <result column="TEAMCOMNAME" property="teamComName" jdbcType="VARCHAR" />
    <result column="HEADGROUPNAME" property="headGroupName" jdbcType="VARCHAR" />
    <result column="PROVGROUPCODE" property="provGroupCode" jdbcType="VARCHAR" />
    <result column="PROVGROUPNAME" property="provGroupName" jdbcType="VARCHAR" />
    <result column="COUNTGROUPCODE" property="countGroupCode" jdbcType="VARCHAR" />
    <result column="COUNTGROUPNAME" property="countGroupName" jdbcType="VARCHAR" />
    <result column="COST_CENTER" property="costCenter" jdbcType="VARCHAR" />
    <result column="COST_CENTERSTDCODE" property="costCenterstdCode" jdbcType="VARCHAR" />
    <result column="COST_CENTERDEVNAME" property="costCenterdevName" jdbcType="VARCHAR" />
    <result column="TEAMCOMSHORTNAME" property="teamComShortName" jdbcType="VARCHAR" />
    <result column="ACTUTEAMCOMSHORTNAME" property="actuTeamComShortName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MANAGECOMCODE, MANAGECOMNAME, HEADCOMCODE, HEADCOMNAME, PROVCOMCODE, PROVCOMNAME, 
    COUNTCOMCODE, COUNTCOMNAME, AGENTGROUPID, AGENTGROUPCODE, AGENTGROUPNAME, TEAMCOMCODE, 
    HEADGROUPCODE, TEAMCOMNAME, HEADGROUPNAME, PROVGROUPCODE, PROVGROUPNAME, COUNTGROUPCODE, 
    COUNTGROUPNAME, COST_CENTER, COST_CENTERSTDCODE, COST_CENTERDEVNAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.huatai.web.model.OrganizationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from d_organization
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from d_organization
    where MANAGECOMCODE = #{manageComCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from d_organization
    where MANAGECOMCODE = #{manageComCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.huatai.web.model.OrganizationExample" >
    delete from d_organization
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huatai.web.model.Organization" >
    insert into d_organization (MANAGECOMCODE, MANAGECOMNAME, HEADCOMCODE, 
      HEADCOMNAME, PROVCOMCODE, PROVCOMNAME, 
      COUNTCOMCODE, COUNTCOMNAME, AGENTGROUPID, 
      AGENTGROUPCODE, AGENTGROUPNAME, TEAMCOMCODE, 
      HEADGROUPCODE, TEAMCOMNAME, HEADGROUPNAME, 
      PROVGROUPCODE, PROVGROUPNAME, COUNTGROUPCODE, 
      COUNTGROUPNAME, COST_CENTER, COST_CENTERSTDCODE, 
      COST_CENTERDEVNAME)
    values (#{manageComCode,jdbcType=VARCHAR}, #{manageComName,jdbcType=VARCHAR}, #{headComCode,jdbcType=VARCHAR}, 
      #{headComName,jdbcType=VARCHAR}, #{provComCode,jdbcType=VARCHAR}, #{provComName,jdbcType=VARCHAR}, 
      #{countComCode,jdbcType=VARCHAR}, #{countComName,jdbcType=VARCHAR}, #{agentGroupId,jdbcType=DECIMAL}, 
      #{agentGroupCode,jdbcType=VARCHAR}, #{agentGroupName,jdbcType=VARCHAR}, #{teamComCode,jdbcType=VARCHAR}, 
      #{headGroupCode,jdbcType=VARCHAR}, #{teamComName,jdbcType=VARCHAR}, #{headGroupName,jdbcType=VARCHAR}, 
      #{provGroupCode,jdbcType=VARCHAR}, #{provGroupName,jdbcType=VARCHAR}, #{countGroupCode,jdbcType=VARCHAR}, 
      #{countGroupName,jdbcType=VARCHAR}, #{costCenter,jdbcType=VARCHAR}, #{costCenterstdCode,jdbcType=VARCHAR}, 
      #{costCenterdevName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huatai.web.model.Organization" >
    insert into d_organization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="manageComCode != null" >
        MANAGECOMCODE,
      </if>
      <if test="manageComName != null" >
        MANAGECOMNAME,
      </if>
      <if test="headComCode != null" >
        HEADCOMCODE,
      </if>
      <if test="headComName != null" >
        HEADCOMNAME,
      </if>
      <if test="provComCode != null" >
        PROVCOMCODE,
      </if>
      <if test="provComName != null" >
        PROVCOMNAME,
      </if>
      <if test="countComCode != null" >
        COUNTCOMCODE,
      </if>
      <if test="countComName != null" >
        COUNTCOMNAME,
      </if>
      <if test="agentGroupId != null" >
        AGENTGROUPID,
      </if>
      <if test="agentGroupCode != null" >
        AGENTGROUPCODE,
      </if>
      <if test="agentGroupName != null" >
        AGENTGROUPNAME,
      </if>
      <if test="teamComCode != null" >
        TEAMCOMCODE,
      </if>
      <if test="headGroupCode != null" >
        HEADGROUPCODE,
      </if>
      <if test="teamComName != null" >
        TEAMCOMNAME,
      </if>
      <if test="headGroupName != null" >
        HEADGROUPNAME,
      </if>
      <if test="provGroupCode != null" >
        PROVGROUPCODE,
      </if>
      <if test="provGroupName != null" >
        PROVGROUPNAME,
      </if>
      <if test="countGroupCode != null" >
        COUNTGROUPCODE,
      </if>
      <if test="countGroupName != null" >
        COUNTGROUPNAME,
      </if>
      <if test="costCenter != null" >
        COST_CENTER,
      </if>
      <if test="costCenterstdCode != null" >
        COST_CENTERSTDCODE,
      </if>
      <if test="costCenterdevName != null" >
        COST_CENTERDEVNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="manageComCode != null" >
        #{manageComCode,jdbcType=VARCHAR},
      </if>
      <if test="manageComName != null" >
        #{manageComName,jdbcType=VARCHAR},
      </if>
      <if test="headComCode != null" >
        #{headComCode,jdbcType=VARCHAR},
      </if>
      <if test="headComName != null" >
        #{headComName,jdbcType=VARCHAR},
      </if>
      <if test="provComCode != null" >
        #{provComCode,jdbcType=VARCHAR},
      </if>
      <if test="provComName != null" >
        #{provComName,jdbcType=VARCHAR},
      </if>
      <if test="countComCode != null" >
        #{countComCode,jdbcType=VARCHAR},
      </if>
      <if test="countComName != null" >
        #{countComName,jdbcType=VARCHAR},
      </if>
      <if test="agentGroupId != null" >
        #{agentGroupId,jdbcType=INTEGER},
      </if>
      <if test="agentGroupCode != null" >
        #{agentGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="agentGroupName != null" >
        #{agentGroupName,jdbcType=VARCHAR},
      </if>
      <if test="teamComCode != null" >
        #{teamComCode,jdbcType=VARCHAR},
      </if>
      <if test="headGroupCode != null" >
        #{headGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="teamComName != null" >
        #{teamComName,jdbcType=VARCHAR},
      </if>
      <if test="headGroupName != null" >
        #{headGroupName,jdbcType=VARCHAR},
      </if>
      <if test="provGroupCode != null" >
        #{provGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="provGroupName != null" >
        #{provGroupName,jdbcType=VARCHAR},
      </if>
      <if test="countGroupCode != null" >
        #{countGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="countGroupName != null" >
        #{countGroupName,jdbcType=VARCHAR},
      </if>
      <if test="costCenter != null" >
        #{costCenter,jdbcType=VARCHAR},
      </if>
      <if test="costCenterstdCode != null" >
        #{costCenterstdCode,jdbcType=VARCHAR},
      </if>
      <if test="costCenterdevName != null" >
        #{costCenterdevName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huatai.web.model.OrganizationExample" resultType="java.lang.Integer" >
    select count(*) from d_organization
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update d_organization
    <set >
      <if test="record.manageComCode != null" >
        MANAGECOMCODE = #{record.manageComCode,jdbcType=VARCHAR},
      </if>
      <if test="record.manageComName != null" >
        MANAGECOMNAME = #{record.manageComName,jdbcType=VARCHAR},
      </if>
      <if test="record.headComCode != null" >
        HEADCOMCODE = #{record.headComCode,jdbcType=VARCHAR},
      </if>
      <if test="record.headComName != null" >
        HEADCOMNAME = #{record.headComName,jdbcType=VARCHAR},
      </if>
      <if test="record.provComCode != null" >
        PROVCOMCODE = #{record.provComCode,jdbcType=VARCHAR},
      </if>
      <if test="record.provComName != null" >
        PROVCOMNAME = #{record.provComName,jdbcType=VARCHAR},
      </if>
      <if test="record.countComCode != null" >
        COUNTCOMCODE = #{record.countComCode,jdbcType=VARCHAR},
      </if>
      <if test="record.countComName != null" >
        COUNTCOMNAME = #{record.countComName,jdbcType=VARCHAR},
      </if>
      <if test="record.agentGroupId != null" >
        AGENTGROUPID = #{record.agentGroupId,jdbcType=INTEGER},
      </if>
      <if test="record.agentGroupCode != null" >
        AGENTGROUPCODE = #{record.agentGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="record.agentGroupName != null" >
        AGENTGROUPNAME = #{record.agentGroupName,jdbcType=VARCHAR},
      </if>
      <if test="record.teamComCode != null" >
        TEAMCOMCODE = #{record.teamComCode,jdbcType=VARCHAR},
      </if>
      <if test="record.headGroupCode != null" >
        HEADGROUPCODE = #{record.headGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="record.teamComName != null" >
        TEAMCOMNAME = #{record.teamComName,jdbcType=VARCHAR},
      </if>
      <if test="record.headGroupName != null" >
        HEADGROUPNAME = #{record.headGroupName,jdbcType=VARCHAR},
      </if>
      <if test="record.provGroupCode != null" >
        PROVGROUPCODE = #{record.provGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="record.provGroupName != null" >
        PROVGROUPNAME = #{record.provGroupName,jdbcType=VARCHAR},
      </if>
      <if test="record.countGroupCode != null" >
        COUNTGROUPCODE = #{record.countGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="record.countGroupName != null" >
        COUNTGROUPNAME = #{record.countGroupName,jdbcType=VARCHAR},
      </if>
      <if test="record.costCenter != null" >
        COST_CENTER = #{record.costCenter,jdbcType=VARCHAR},
      </if>
      <if test="record.costCenterstdCode != null" >
        COST_CENTERSTDCODE = #{record.costCenterstdCode,jdbcType=VARCHAR},
      </if>
      <if test="record.costCenterdevName != null" >
        COST_CENTERDEVNAME = #{record.costCenterdevName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update d_organization
    set MANAGECOMCODE = #{record.manageComCode,jdbcType=VARCHAR},
      MANAGECOMNAME = #{record.manageComName,jdbcType=VARCHAR},
      HEADCOMCODE = #{record.headComCode,jdbcType=VARCHAR},
      HEADCOMNAME = #{record.headComName,jdbcType=VARCHAR},
      PROVCOMCODE = #{record.provComCode,jdbcType=VARCHAR},
      PROVCOMNAME = #{record.provComName,jdbcType=VARCHAR},
      COUNTCOMCODE = #{record.countComCode,jdbcType=VARCHAR},
      COUNTCOMNAME = #{record.countComName,jdbcType=VARCHAR},
      AGENTGROUPID = #{record.agentGroupId,jdbcType=INTEGER},
      AGENTGROUPCODE = #{record.agentGroupCode,jdbcType=VARCHAR},
      AGENTGROUPNAME = #{record.agentGroupName,jdbcType=VARCHAR},
      TEAMCOMCODE = #{record.teamComCode,jdbcType=VARCHAR},
      HEADGROUPCODE = #{record.headGroupCode,jdbcType=VARCHAR},
      TEAMCOMNAME = #{record.teamComName,jdbcType=VARCHAR},
      HEADGROUPNAME = #{record.headGroupName,jdbcType=VARCHAR},
      PROVGROUPCODE = #{record.provGroupCode,jdbcType=VARCHAR},
      PROVGROUPNAME = #{record.provGroupName,jdbcType=VARCHAR},
      COUNTGROUPCODE = #{record.countGroupCode,jdbcType=VARCHAR},
      COUNTGROUPNAME = #{record.countGroupName,jdbcType=VARCHAR},
      COST_CENTER = #{record.costCenter,jdbcType=VARCHAR},
      COST_CENTERSTDCODE = #{record.costCenterstdCode,jdbcType=VARCHAR},
      COST_CENTERDEVNAME = #{record.costCenterdevName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huatai.web.model.Organization" >
    update d_organization
    <set >
      <if test="manageComName != null" >
        MANAGECOMNAME = #{manageComName,jdbcType=VARCHAR},
      </if>
      <if test="headComCode != null" >
        HEADCOMCODE = #{headComCode,jdbcType=VARCHAR},
      </if>
      <if test="headComName != null" >
        HEADCOMNAME = #{headComName,jdbcType=VARCHAR},
      </if>
      <if test="provComCode != null" >
        PROVCOMCODE = #{provComCode,jdbcType=VARCHAR},
      </if>
      <if test="provComName != null" >
        PROVCOMNAME = #{provComName,jdbcType=VARCHAR},
      </if>
      <if test="countComCode != null" >
        COUNTCOMCODE = #{countComCode,jdbcType=VARCHAR},
      </if>
      <if test="countComName != null" >
        COUNTCOMNAME = #{countComName,jdbcType=VARCHAR},
      </if>
      <if test="agentGroupId != null" >
        AGENTGROUPID = #{agentGroupId,jdbcType=INTEGER},
      </if>
      <if test="agentGroupCode != null" >
        AGENTGROUPCODE = #{agentGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="agentGroupName != null" >
        AGENTGROUPNAME = #{agentGroupName,jdbcType=VARCHAR},
      </if>
      <if test="teamComCode != null" >
        TEAMCOMCODE = #{teamComCode,jdbcType=VARCHAR},
      </if>
      <if test="headGroupCode != null" >
        HEADGROUPCODE = #{headGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="teamComName != null" >
        TEAMCOMNAME = #{teamComName,jdbcType=VARCHAR},
      </if>
      <if test="headGroupName != null" >
        HEADGROUPNAME = #{headGroupName,jdbcType=VARCHAR},
      </if>
      <if test="provGroupCode != null" >
        PROVGROUPCODE = #{provGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="provGroupName != null" >
        PROVGROUPNAME = #{provGroupName,jdbcType=VARCHAR},
      </if>
      <if test="countGroupCode != null" >
        COUNTGROUPCODE = #{countGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="countGroupName != null" >
        COUNTGROUPNAME = #{countGroupName,jdbcType=VARCHAR},
      </if>
      <if test="costCenter != null" >
        COST_CENTER = #{costCenter,jdbcType=VARCHAR},
      </if>
      <if test="costCenterstdCode != null" >
        COST_CENTERSTDCODE = #{costCenterstdCode,jdbcType=VARCHAR},
      </if>
      <if test="costCenterdevName != null" >
        COST_CENTERDEVNAME = #{costCenterdevName,jdbcType=VARCHAR},
      </if>
    </set>
    where MANAGECOMCODE = #{manageComCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huatai.web.model.Organization" >
    update d_organization
    set MANAGECOMNAME = #{manageComName,jdbcType=VARCHAR},
      HEADCOMCODE = #{headComCode,jdbcType=VARCHAR},
      HEADCOMNAME = #{headComName,jdbcType=VARCHAR},
      PROVCOMCODE = #{provComCode,jdbcType=VARCHAR},
      PROVCOMNAME = #{provComName,jdbcType=VARCHAR},
      COUNTCOMCODE = #{countComCode,jdbcType=VARCHAR},
      COUNTCOMNAME = #{countComName,jdbcType=VARCHAR},
      AGENTGROUPID = #{agentGroupId,jdbcType=INTEGER},
      AGENTGROUPCODE = #{agentGroupCode,jdbcType=VARCHAR},
      AGENTGROUPNAME = #{agentGroupName,jdbcType=VARCHAR},
      TEAMCOMCODE = #{teamComCode,jdbcType=VARCHAR},
      HEADGROUPCODE = #{headGroupCode,jdbcType=VARCHAR},
      TEAMCOMNAME = #{teamComName,jdbcType=VARCHAR},
      HEADGROUPNAME = #{headGroupName,jdbcType=VARCHAR},
      PROVGROUPCODE = #{provGroupCode,jdbcType=VARCHAR},
      PROVGROUPNAME = #{provGroupName,jdbcType=VARCHAR},
      COUNTGROUPCODE = #{countGroupCode,jdbcType=VARCHAR},
      COUNTGROUPNAME = #{countGroupName,jdbcType=VARCHAR},
      COST_CENTER = #{costCenter,jdbcType=VARCHAR},
      COST_CENTERSTDCODE = #{costCenterstdCode,jdbcType=VARCHAR},
      COST_CENTERDEVNAME = #{costCenterdevName,jdbcType=VARCHAR}
    where MANAGECOMCODE = #{manageComCode,jdbcType=VARCHAR}
  </update>
  <!-- 三级机构分页数据，默认显示所有中支  -->
  <select id="findOrganizationPage" resultMap="BaseResultMap" >
    SELECT DISTINCT ACTUTEAMCOMSHORTNAME,COUNTCOMCODE,COUNTCOMNAME
  	FROM D_ORGANIZATION
    <where>
    	1=1 AND  COUNTCOMCODE IS NOT NULL
   		AND LENGTH(COUNTCOMCODE) = 5  		
		<if test="record.provComCode != null and record.provComCode !=''">
			AND PROVCOMCODE =#{record.provComCode}
		</if>
		<if test="record.provComCode == '101'">
			OR PROVCOMCODE =#{record.provComCode}
		</if>
		<if test="record.countComCode != null and record.countComCode !=''">
			AND PROVCOMCODE =#{record.countComCode}
		</if>
		<if test="record.countComCode == '101'">
			OR PROVCOMCODE =#{record.countComCode}
		</if>
    </where>
  </select>
  <!-- 四级机构分页数据，默认显示所有成本中心 -->
  <select id="findTeamComPage" resultMap="BaseResultMap" >
   SELECT DISTINCT
  COST_CENTERSTDCODE,"MIN"(COST_CENTERDEVNAME) COST_CENTERDEVNAME
  	FROM D_ORGANIZATION
    <where>	
    	(LENGTH(COST_CENTERSTDCODE)=10
    	<if test="record.provComCode != null and record.provComCode !=''">
			AND PROVCOMCODE =#{record.provComCode}
		</if>)
		<if test="record.provComCode == '101'">
			OR PROVCOMCODE =#{record.provComCode} AND COST_CENTERSTDCODE IS NOT NULL
		</if>
		<if test="record.countComCode != null and record.countComCode !=''">
			AND COUNTCOMCODE =#{record.countComCode}
		</if>
    </where>
    GROUP BY COST_CENTERSTDCODE
  </select>
  <!--   -->
  <select id="findOrganizationList" resultMap="BaseResultMap" >
  	SELECT DISTINCT
  		TEAMCOMSHORTNAME,
		PROVCOMCODE,
		PROVCOMNAME
	FROM
		D_ORGANIZATION 
	<where>
		 1 = 1
		and PROVCOMCODE != '1'
	</where>
  </select>
  
  <select id="findOrganizationByProvComCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT DISTINCT
			ACTUTEAMCOMSHORTNAME,
			COUNTCOMCODE,
			COUNTCOMNAME
		FROM
			D_ORGANIZATION
		<where>
		<if  test="provComCode == '101'" >
			PROVCOMCODE = #{provComCode}
		</if>
		<if test="provComCode != '101'">
			PROVCOMCODE = #{provComCode} and COUNTCOMCODE != #{provComCode}
		</if>
		</where>
  </select>
  
  <!-- 查询所有机构 -->
  <select id="findOrganization" resultType="com.huatai.web.model.DeptInfo">
		SELECT DISTINCT HEADCOMCODE as deptCode, HEADCOMNAME as deptName, '1' as deptPid  FROM D_ORGANIZATION 
		union
		SELECT DISTINCT PROVCOMCODE , PROVCOMNAME, HEADCOMCODE  FROM D_ORGANIZATION WHERE PROVCOMCODE != HEADCOMCODE AND "LENGTH"(HEADCOMCODE) = '1'
		union
		SELECT DISTINCT COUNTCOMCODE, COUNTCOMNAME, PROVCOMCODE FROM D_ORGANIZATION WHERE COUNTCOMCODE != PROVCOMCODE AND "LENGTH"(PROVCOMCODE) = '3'
		UNION
		SELECT DISTINCT COST_CENTERSTDCODE,COST_CENTERDEVNAME,COUNTCOMCODE FROM D_ORGANIZATION WHERE COST_CENTERSTDCODE != COUNTCOMCODE AND COST_CENTERSTDCODE is NOT NULL AND COST_CENTERDEVNAME IS NOT NULL AND "LENGTH"(COUNTCOMCODE)='5'
  </select>
	  <!-- 根据机构名称查询机构代码 -->
  <select id="findorgCodeByorgName" parameterType="String" resultType="String">
  
 	select Code from 
 	(SELECT
	HEADCOMCODE AS Code,
	HEADCOMNAME AS Name
	FROM
	D_ORGANIZATION
	UNION
	SELECT
		PROVCOMCODE,
		PROVCOMNAME
	FROM
		D_ORGANIZATION
	UNION
		SELECT
			COUNTCOMCODE,
			COUNTCOMNAME
		FROM
			D_ORGANIZATION ) a
	where Name = #{orgName}
  </select>
  
 <!-- 根据机构代码查询机构名称 -->
 	<select id="findOrgNameByOrgCode" parameterType="String" resultType="String">
 		select Name from 
		 	(SELECT
			HEADCOMCODE AS Code,
			HEADCOMNAME AS Name
			FROM
			D_ORGANIZATION
			UNION
			SELECT
				PROVCOMCODE,
				PROVCOMNAME
			FROM
				D_ORGANIZATION
			UNION
				SELECT
					COUNTCOMCODE,
					COUNTCOMNAME
				FROM
					D_ORGANIZATION ) a
			where Code = #{orgCode}
 	</select>
  
  <!-- 根据机构名称模糊查询 -->
  	<select id="findOrgNameByOrgCodeLike" parameterType="String" resultType="String">
  		select Name from 
		 	(SELECT
			HEADCOMCODE AS Code,
			HEADCOMNAME AS Name
			FROM
			D_ORGANIZATION
			UNION
			SELECT
				PROVCOMCODE,
				PROVCOMNAME
			FROM
				D_ORGANIZATION
			UNION
				SELECT
					COUNTCOMCODE,
					COUNTCOMNAME
				FROM
					D_ORGANIZATION ) a
			<where>
				<if test="monitorObject != null and monitorObject != ''">
					and Name like '%${monitorObject}%'
				</if>
			</where>
  	</select>
  	<select id="findOrgShortName" resultType="java.util.HashMap">
  		SELECT DISTINCT
			TEAMCOMSHORTNAME as shortName,SUBSTR(COUNTCOMCODE, 0, 3) shortCode
		FROM
			D_MANAGECOM
		WHERE
			TEAMCOMSHORTNAME != '总公司'
  	</select>
</mapper>