<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huatai.web.mapper.QueryDimMapper">
	<resultMap id="BaseResultMap" type="com.huatai.web.model.QueryDim">
		<id column="QD_ID" property="qdId" jdbcType="INTEGER" />
		<result column="QUERY_DIM_CODE" property="queryDimCode"
			jdbcType="VARCHAR" />
		<result column="QUERY_DIM_NAME" property="queryDimName"
			jdbcType="VARCHAR" />
		<result column="IS_AUTH" property="isAuth" jdbcType="CHAR" />
		<result column="QUERY_DIM_TYPE" property="queryDimType"
			jdbcType="CHAR" />
		<result column="QUERY_DIM_SHOW_TYPE" property="queryDimShowType"
			jdbcType="CHAR" />
		<result column="OP_TYPE" property="opType" jdbcType="CHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
		<result column="CREATOR_ID" property="creatorId" jdbcType="VARCHAR" />
		<result column="MODIFIER_ID" property="modifierId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		QD_ID, QUERY_DIM_CODE, QUERY_DIM_NAME, IS_AUTH,
		QUERY_DIM_TYPE,
		QUERY_DIM_SHOW_TYPE,
		OP_TYPE, CREATE_TIME, MODIFY_TIME,
		CREATOR_ID, MODIFIER_ID
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.huatai.web.model.QueryDimExample">
		select
		<if test="distinct">
			distinct
		</if>
		'true' as QUERYID,
		<include refid="Base_Column_List" />
		from ht_query_dim_tb
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from ht_query_dim_tb
		where OP_TYPE!='D' AND QD_ID =
		#{qdId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		ht_query_dim_tb
		where QD_ID = #{qdId,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.huatai.web.model.QueryDimExample">
		delete from ht_query_dim_tb
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.huatai.web.model.QueryDim">
		insert into ht_query_dim_tb
		(QD_ID, QUERY_DIM_CODE, QUERY_DIM_NAME,
		IS_AUTH, QUERY_DIM_TYPE,
		QUERY_DIM_SHOW_TYPE,
		OP_TYPE, CREATE_TIME, MODIFY_TIME,
		CREATOR_ID,
		MODIFIER_ID)
		values (#{qdId,jdbcType=INTEGER},
		#{queryDimCode,jdbcType=VARCHAR},
		#{queryDimName,jdbcType=VARCHAR},
		#{isAuth,jdbcType=CHAR}, #{queryDimType,jdbcType=CHAR},
		#{queryDimShowType,jdbcType=CHAR},
		#{opType,jdbcType=CHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{modifyTime,jdbcType=TIMESTAMP},
		#{creatorId,jdbcType=VARCHAR}, #{modifierId,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.huatai.web.model.QueryDim">
		insert into ht_query_dim_tb
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="qdId != null">
				QD_ID,
			</if>
			<if test="queryDimCode != null">
				QUERY_DIM_CODE,
			</if>
			<if test="queryDimName != null">
				QUERY_DIM_NAME,
			</if>
			<if test="isAuth != null">
				IS_AUTH,
			</if>
			<if test="queryDimType != null">
				QUERY_DIM_TYPE,
			</if>
			<if test="queryDimShowType != null">
				QUERY_DIM_SHOW_TYPE,
			</if>
			<if test="opType != null">
				OP_TYPE,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME,
			</if>
			<if test="creatorId != null">
				CREATOR_ID,
			</if>
			<if test="modifierId != null">
				MODIFIER_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="qdId != null">
				#{qdId,jdbcType=INTEGER},
			</if>
			<if test="queryDimCode != null">
				#{queryDimCode,jdbcType=VARCHAR},
			</if>
			<if test="queryDimName != null">
				#{queryDimName,jdbcType=VARCHAR},
			</if>
			<if test="isAuth != null">
				#{isAuth,jdbcType=CHAR},
			</if>
			<if test="queryDimType != null">
				#{queryDimType,jdbcType=CHAR},
			</if>
			<if test="queryDimShowType != null">
				#{queryDimShowType,jdbcType=CHAR},
			</if>
			<if test="opType != null">
				#{opType,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				#{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creatorId != null">
				#{creatorId,jdbcType=VARCHAR},
			</if>
			<if test="modifierId != null">
				#{modifierId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.huatai.web.model.QueryDimExample"
		resultType="java.lang.Integer">
		select count(*) from ht_query_dim_tb
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update ht_query_dim_tb
		<set>
			<if test="record.qdId != null">
				QD_ID = #{record.qdId,jdbcType=INTEGER},
			</if>
			<if test="record.queryDimCode != null">
				QUERY_DIM_CODE = #{record.queryDimCode,jdbcType=VARCHAR},
			</if>
			<if test="record.queryDimName != null">
				QUERY_DIM_NAME = #{record.queryDimName,jdbcType=VARCHAR},
			</if>
			<if test="record.isAuth != null">
				IS_AUTH = #{record.isAuth,jdbcType=CHAR},
			</if>
			<if test="record.queryDimType != null">
				QUERY_DIM_TYPE = #{record.queryDimType,jdbcType=CHAR},
			</if>
			<if test="record.queryDimShowType != null">
				QUERY_DIM_SHOW_TYPE =
				#{record.queryDimShowType,jdbcType=CHAR},
			</if>
			<if test="record.opType != null">
				OP_TYPE = #{record.opType,jdbcType=CHAR},
			</if>
			<if test="record.createTime != null">
				CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.modifyTime != null">
				MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.creatorId != null">
				CREATOR_ID = #{record.creatorId,jdbcType=VARCHAR},
			</if>
			<if test="record.modifierId != null">
				MODIFIER_ID = #{record.modifierId,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update ht_query_dim_tb
		set QD_ID = #{record.qdId,jdbcType=INTEGER},
		QUERY_DIM_CODE = #{record.queryDimCode,jdbcType=VARCHAR},
		QUERY_DIM_NAME = #{record.queryDimName,jdbcType=VARCHAR},
		IS_AUTH =
		#{record.isAuth,jdbcType=CHAR},
		QUERY_DIM_TYPE =
		#{record.queryDimType,jdbcType=CHAR},
		QUERY_DIM_SHOW_TYPE =
		#{record.queryDimShowType,jdbcType=CHAR},
		OP_TYPE =
		#{record.opType,jdbcType=CHAR},
		CREATE_TIME =
		#{record.createTime,jdbcType=TIMESTAMP},
		MODIFY_TIME =
		#{record.modifyTime,jdbcType=TIMESTAMP},
		CREATOR_ID =
		#{record.creatorId,jdbcType=VARCHAR},
		MODIFIER_ID =
		#{record.modifierId,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.huatai.web.model.QueryDim">
		update ht_query_dim_tb
		<set>
			<if test="queryDimCode != null">
				QUERY_DIM_CODE = #{queryDimCode,jdbcType=VARCHAR},
			</if>
			<if test="queryDimName != null">
				QUERY_DIM_NAME = #{queryDimName,jdbcType=VARCHAR},
			</if>
			<if test="isAuth != null">
				IS_AUTH = #{isAuth,jdbcType=CHAR},
			</if>
			<if test="queryDimType != null">
				QUERY_DIM_TYPE = #{queryDimType,jdbcType=CHAR},
			</if>
			<if test="queryDimShowType != null">
				QUERY_DIM_SHOW_TYPE = #{queryDimShowType,jdbcType=CHAR},
			</if>
			<if test="opType != null">
				OP_TYPE = #{opType,jdbcType=CHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyTime != null">
				MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creatorId != null">
				CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
			</if>
			<if test="modifierId != null">
				MODIFIER_ID = #{modifierId,jdbcType=VARCHAR},
			</if>
		</set>
		where QD_ID = #{qdId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.huatai.web.model.QueryDim">
		update
		ht_query_dim_tb
		set QUERY_DIM_CODE = #{queryDimCode,jdbcType=VARCHAR},
		QUERY_DIM_NAME = #{queryDimName,jdbcType=VARCHAR},
		IS_AUTH =
		#{isAuth,jdbcType=CHAR},
		QUERY_DIM_TYPE =
		#{queryDimType,jdbcType=CHAR},
		QUERY_DIM_SHOW_TYPE =
		#{queryDimShowType,jdbcType=CHAR},
		OP_TYPE = #{opType,jdbcType=CHAR},
		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
		MODIFY_TIME =
		#{modifyTime,jdbcType=TIMESTAMP},
		CREATOR_ID =
		#{creatorId,jdbcType=VARCHAR},
		MODIFIER_ID =
		#{modifierId,jdbcType=VARCHAR}
		where QD_ID = #{qdId,jdbcType=INTEGER}
	</update>
	<select id="findByPager" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"></include>
		from ht_query_dim_tb
		<where>
			OP_TYPE!='D'
			<if test="qdId!=null and qdId!=''">
				and QD_ID = #{qdId,jdbcType=INTEGER}
			</if>
			<if test="queryDimCode!=null and queryDimCode!=''">
				and QUERY_DIM_CODE LIKE
				CONCAT(CONCAT(#{queryDimCode,jdbcType=VARCHAR},'%'),'%')
			</if>
			<if test="queryDimName!=null and queryDimName!=''">
				and QUERY_DIM_NAME LIKE
				CONCAT(CONCAT(#{queryDimName,jdbcType=VARCHAR},'%'),'%')
			</if>
			<if test="isAuth!=null and isAuth!=''">
				and IS_AUTH = #{isAuth,jdbcType=CHAR}
			</if>
			<if test="queryDimType!=null and queryDimType!=''">
				and QUERY_DIM_TYPE = #{queryDimType,jdbcType=CHAR}
			</if>
			<if test="queryDimShowType!=null and queryDimShowType!=''">
				and QUERY_DIM_SHOW_TYPE =
				#{queryDimShowType,jdbcType=CHAR}
			</if>
			<if test="opType!=null and opType!=''">
				and OP_TYPE = #{opType,jdbcType=CHAR}
			</if>
			<if test="createTime!=null and createTime!=''">
				and CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="modifyTime!=null and modifyTime!=''">
				and MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
			</if>
			<if test="creatorId!=null and creatorId!=''">
				and CREATOR_ID = #{creatorId,jdbcType=VARCHAR}
			</if>
			<if test="modifierId!=null and modifierId!=''">
				and MODIFIER_ID = #{modifierId,jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY CREATE_TIME DESC
	</select>
	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"></include>
		from ht_query_dim_tb
		where OP_TYPE!='D'
	</select>

	<select id="selectByQueryDimName" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"></include>
		from ht_query_dim_tb
		where QUERY_DIM_NAME =
		#{queryDimName,jdbcType=VARCHAR}
	</select>

	<select id="findByTargetCode" resultMap="BaseResultMap">
		select
		a.QD_ID,a.QUERY_DIM_CODE,
		a.QUERY_DIM_NAME
		FROM ht_query_dim_tb a
		LEFT
		JOIN ht_tar_query_dim_tb b ON
		a.qd_id= b.qd_id
		LEFT JOIN ht_target_tb c
		ON b.target_code =
		c.target_code
		WHERE c.target_code =
		#{targetCode,jdbcType=VARCHAR}
		AND
		a.op_Type!='D' AND B.OP_TYPE!='D' AND
		c.OP_TYPE!='D'
	</select>
	<select id="getDialogBoxs" resultType="com.huatai.web.model.DictItem">
		select b.code_ as code,
		b.name_ as name
		from jdp_dict a
		left join jdp_dict_item b
		on a.cid =
		b.DICT_ID
		where a.code_ = 'CON_TYPE'
	</select>

	<!-- 查询指标的查询维度 -->
	<select id="findQueryDimListByTarget" resultMap="BaseResultMap">
		SELECT
		query_dim.QD_ID,
		query_dim.QUERY_DIM_CODE,
		query_dim.QUERY_DIM_NAME,
		query_dim.IS_AUTH,
		query_dim.QUERY_DIM_TYPE,
		query_dim.QUERY_DIM_SHOW_TYPE
		FROM
		ht_query_dim_tb query_dim
		LEFT JOIN
		ht_tar_query_dim_tb tar_query_dim
		ON
		tar_query_dim.QD_ID=query_dim.QD_ID AND tar_query_dim.OP_TYPE!='D'
		LEFT JOIN ht_target_tb target
		ON
		tar_query_dim.TARGET_CODE=target.TARGET_CODE AND target.OP_TYPE!='D'
		WHERE
		tar_query_dim.TARGET_CODE=#{targetCode}
		AND query_dim.OP_TYPE!='D'
	</select>

	<select id="findByQueryDimCode" resultMap="BaseResultMap">
		select
		QUERY_DIM_CODE,QUERY_DIM_NAME
		from ht_query_dim_tb
		where OP_TYPE!='D'
	</select>

	<select id="findQueryDimByBlock" resultMap="BaseResultMap">
		SELECT
		T8.QD_ID,
		T8.QUERY_DIM_CODE
		FROM
		HT_QUERY_DIM_TB T8
		JOIN (
		SELECT DISTINCT
		T4.QD_ID
		FROM
		HT_TAR_REG_QUE_TB T4
		WHERE
		T4.TARGET_CODE IN (
		SELECT
		T1.TARGET_CODE
		FROM
		HT_PLATE_ONE_TAR_TB T1
		WHERE
		T1.PLATE_ID = #{blockId}
		AND T1.OP_TYPE
		!= 'D'
		UNION
		SELECT
		T3.TARGET_CODE
		FROM
		HT_PLATE_TWO_TAR_TB T3
		WHERE
		T3.PTTG_ID IN (
		SELECT
		T2.PTTG_ID
		FROM
		HT_PLATE_TWO_TAR_GRO_TB T2
		WHERE
		T2.PLATE_ID = #{blockId}
		AND T2.OP_TYPE != 'D'
		)
		AND T3.OP_TYPE != 'D'
		)
		AND T4.REG_ID IN (
		SELECT
		T5.REG_ID
		FROM
		HT_TEM_REG_TB T5
		WHERE
		T5.TEMP_ID
		IN (
		SELECT
		T6.TEMP_ID
		FROM
		HT_TEMPLET_TB T6
		WHERE
		T6.TEMP_CODE = 'TEMP03'
		)
		)
		) T9 ON T8.QD_ID = T9.QD_ID
	</select>

</mapper>