<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huatai.web.mapper.RoleFixedListMapper" >
  <resultMap id="BaseResultMap" type="com.huatai.web.model.RoleFixedList" >
    <id column="RFL_ID" property="rflId" jdbcType="BIGINT" />
    <result column="ROLE_CODE" property="roleCode" jdbcType="VARCHAR" />
    <result column="FL_CODE" property="flCode" jdbcType="VARCHAR" />
    <result column="OP_TYPE" property="opType" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="CREATOR_ID" property="creatorId" jdbcType="VARCHAR" />
    <result column="MODIFIER_ID" property="modifierId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RFL_ID, ROLE_CODE, FL_CODE, OP_TYPE, CREATE_TIME, MODIFY_TIME, CREATOR_ID, MODIFIER_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.huatai.web.model.RoleFixedListExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ht_role_fixed_list_tb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ht_role_fixed_list_tb
    where RFL_ID = #{rflId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ht_role_fixed_list_tb
    where RFL_ID = #{rflId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.huatai.web.model.RoleFixedListExample" >
    delete from ht_role_fixed_list_tb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.huatai.web.model.RoleFixedList" >
    insert into ht_role_fixed_list_tb (RFL_ID, ROLE_CODE, FL_CODE, 
      OP_TYPE, CREATE_TIME, MODIFY_TIME, 
      CREATOR_ID, MODIFIER_ID)
    values (#{rflId,jdbcType=BIGINT}, #{roleCode,jdbcType=VARCHAR}, #{flCode,jdbcType=VARCHAR}, 
      #{opType,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{creatorId,jdbcType=VARCHAR}, #{modifierId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.huatai.web.model.RoleFixedList" >
    insert into ht_role_fixed_list_tb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rflId != null" >
        RFL_ID,
      </if>
      <if test="roleCode != null" >
        ROLE_CODE,
      </if>
      <if test="flCode != null" >
        FL_CODE,
      </if>
      <if test="opType != null" >
        OP_TYPE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="creatorId != null" >
        CREATOR_ID,
      </if>
      <if test="modifierId != null" >
        MODIFIER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rflId != null" >
        #{rflId,jdbcType=BIGINT},
      </if>
      <if test="roleCode != null" >
        #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="flCode != null" >
        #{flCode,jdbcType=VARCHAR},
      </if>
      <if test="opType != null" >
        #{opType,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="modifierId != null" >
        #{modifierId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.huatai.web.model.RoleFixedListExample" resultType="java.lang.Integer" >
    select count(*) from ht_role_fixed_list_tb
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ht_role_fixed_list_tb
    <set >
      <if test="record.rflId != null" >
        RFL_ID = #{record.rflId,jdbcType=BIGINT},
      </if>
      <if test="record.roleCode != null" >
        ROLE_CODE = #{record.roleCode,jdbcType=VARCHAR},
      </if>
      <if test="record.flCode != null" >
        FL_CODE = #{record.flCode,jdbcType=VARCHAR},
      </if>
      <if test="record.opType != null" >
        OP_TYPE = #{record.opType,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creatorId != null" >
        CREATOR_ID = #{record.creatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.modifierId != null" >
        MODIFIER_ID = #{record.modifierId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ht_role_fixed_list_tb
    set RFL_ID = #{record.rflId,jdbcType=BIGINT},
      ROLE_CODE = #{record.roleCode,jdbcType=VARCHAR},
      FL_CODE = #{record.flCode,jdbcType=VARCHAR},
      OP_TYPE = #{record.opType,jdbcType=CHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      CREATOR_ID = #{record.creatorId,jdbcType=VARCHAR},
      MODIFIER_ID = #{record.modifierId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.huatai.web.model.RoleFixedList" >
    update ht_role_fixed_list_tb
    <set >
      <if test="roleCode != null" >
        ROLE_CODE = #{roleCode,jdbcType=VARCHAR},
      </if>
      <if test="flCode != null" >
        FL_CODE = #{flCode,jdbcType=VARCHAR},
      </if>
      <if test="opType != null" >
        OP_TYPE = #{opType,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null" >
        CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="modifierId != null" >
        MODIFIER_ID = #{modifierId,jdbcType=VARCHAR},
      </if>
    </set>
    where RFL_ID = #{rflId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huatai.web.model.RoleFixedList" >
    update ht_role_fixed_list_tb
    set ROLE_CODE = #{roleCode,jdbcType=VARCHAR},
      FL_CODE = #{flCode,jdbcType=VARCHAR},
      OP_TYPE = #{opType,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      CREATOR_ID = #{creatorId,jdbcType=VARCHAR},
      MODIFIER_ID = #{modifierId,jdbcType=VARCHAR}
    where RFL_ID = #{rflId,jdbcType=BIGINT}
  </update>
  
   <select id="findByPager" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ht_role_fixed_list_tb
    <where>
    	OP_TYPE!='D'
    	<if test="roleCode != null" >
        AND ROLE_CODE = #{roleCode,jdbcType=VARCHAR}
      </if>
      <if test="flCode != null" >
        AND FL_CODE = #{flCode,jdbcType=VARCHAR}
      </if>
      <if test="opType != null" >
        AND OP_TYPE = #{opType,jdbcType=CHAR}
      </if>
      <if test="createTime != null" >
        AND CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="modifyTime != null" >
        AND MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
      </if>
      <if test="creatorId != null" >
        AND CREATOR_ID = #{creatorId,jdbcType=VARCHAR}
      </if>
      <if test="modifierId != null" >
        AND MODIFIER_ID = #{modifierId,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  
   <select id="findByRoleCode" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from ht_role_fixed_list_tb
    <where>
    	OP_TYPE!='D'
    	<if test="roleCode != null" >
        AND ROLE_CODE = #{roleCode,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
   
   <select id="findByIsRoleCode" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from ht_role_fixed_list_tb
    <where>
    	OP_TYPE='D'
    	<if test="roleCode != null" >
        AND ROLE_CODE = #{roleCode,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  
   <select id="findByFlDeptCode" resultMap="BaseResultMap" parameterType="java.lang.String">  
    SELECT <include refid="Base_Column_List" /> 
    	from ht_fixed_list_tb f 
    		LEFT JOIN ht_role_fixed_list_tb r on f.FL_CODE=r.FL_CODE  
    	<where>
    		f.OP_TYPE!='D' AND r.OP_TYPE!='D'
    		<if test="deptCode!=null AND deptCode!=''">
    			AND f.FL_DEPT_CODE=${deptCode}
    		</if>
    		
    	</where> 
  </select>
  <delete id="deleteByRoleCode" parameterType="java.lang.String">
    delete from ht_role_fixed_list_tb
    where ROLE_CODE = #{roleCode}
  </delete>
  <update id="updateByRoleCodeSelective" parameterType="com.huatai.web.model.RoleFixedList" >
    update ht_role_fixed_list_tb
    <set >
      <if test="opType != null" >
        OP_TYPE = #{opType,jdbcType=CHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null" >
        MODIFIER_ID = #{modifierId,jdbcType=VARCHAR},
      </if>
    </set>
    where ROLE_CODE = #{roleCode,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByRoleCodeAndFlCodeSelective" parameterType="com.huatai.web.model.RoleFixedList" >
    update ht_role_fixed_list_tb
    <set >
      <if test="opType != null" >
        OP_TYPE = #{opType,jdbcType=CHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifierId != null" >
        MODIFIER_ID = #{modifierId,jdbcType=VARCHAR},
      </if>
    </set>
    where ROLE_CODE = #{roleCode,jdbcType=VARCHAR} AND FL_CODE = #{flCode,jdbcType=VARCHAR}
  </update>
</mapper>