<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huatai.web.mapper.TriggleExecuteMapper">
	<resultMap id="BaseResultMap" type="com.huatai.web.model.TriggleExecute">
		<id column="QRTZ_GROUP_ID" jdbcType="BIGINT" property="qrtzGroupId" />
		<id column="QRTZ_CODE" jdbcType="VARCHAR" property="qrtzCode" />
		<result column="EXEC_STATUS" jdbcType="CHAR" property="execStatus" />
		<result column="EXEC_BEGIN_TIME" jdbcType="TIMESTAMP" property="execBeginTime" />
		<result column="EXEC_END_TIME" jdbcType="TIMESTAMP" property="execEndTime" />
	</resultMap>
	<resultMap id="ManyResultMap" type="com.huatai.web.model.TriggleExecute"
		extends="BaseResultMap">
		<result column="CODE" jdbcType="VARCHAR" property="code" />
		<result column="NAME" jdbcType="VARCHAR" property="name" />
		<result column="RESTIME" jdbcType="VARCHAR" property="resTime" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		QRTZ_GROUP_ID, QRTZ_CODE, EXEC_STATUS, EXEC_BEGIN_TIME,
		EXEC_END_TIME
	</sql>
	<sql id="Many_Column_List">
		c.QRTZ_GROUP_ID, c.QRTZ_CODE, c.EXEC_STATUS,
		c.EXEC_BEGIN_TIME,
		c.EXEC_END_TIME,resTime
	</sql>
	<select id="selectByExample" parameterType="com.huatai.web.model.TriggleExecuteExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from triggle_execute_tb
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="com.huatai.web.model.TriggleExecuteKey"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from triggle_execute_tb
		where QRTZ_GROUP_ID =
		#{qrtzGroupId,jdbcType=BIGINT}
		and QRTZ_CODE =
		#{qrtzCode,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="com.huatai.web.model.TriggleExecuteKey">
		delete from
		triggle_execute_tb
		where QRTZ_GROUP_ID = #{qrtzGroupId,jdbcType=BIGINT}
		and QRTZ_CODE = #{qrtzCode,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample" parameterType="com.huatai.web.model.TriggleExecuteExample">
		delete from triggle_execute_tb
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.huatai.web.model.TriggleExecute">
		insert into triggle_execute_tb
		(QRTZ_GROUP_ID, QRTZ_CODE, EXEC_STATUS,
		EXEC_BEGIN_TIME, EXEC_END_TIME)
		values (#{qrtzGroupId,jdbcType=BIGINT}, #{qrtzCode,jdbcType=VARCHAR},
		#{execStatus,jdbcType=CHAR},
		#{execBeginTime,jdbcType=TIMESTAMP},
		#{execEndTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.huatai.web.model.TriggleExecute">
		insert into triggle_execute_tb
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="qrtzGroupId != null">
				QRTZ_GROUP_ID,
			</if>
			<if test="qrtzCode != null">
				QRTZ_CODE,
			</if>
			<if test="execStatus != null">
				EXEC_STATUS,
			</if>
			<if test="execBeginTime != null">
				EXEC_BEGIN_TIME,
			</if>
			<if test="execEndTime != null">
				EXEC_END_TIME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="qrtzGroupId != null">
				#{qrtzGroupId,jdbcType=BIGINT},
			</if>
			<if test="qrtzCode != null">
				#{qrtzCode,jdbcType=VARCHAR},
			</if>
			<if test="execStatus != null">
				#{execStatus,jdbcType=CHAR},
			</if>
			<if test="execBeginTime != null">
				#{execBeginTime,jdbcType=TIMESTAMP},
			</if>
			<if test="execEndTime != null">
				#{execEndTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.huatai.web.model.TriggleExecuteExample"
		resultType="java.lang.Integer">
		select count(*) from triggle_execute_tb
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update triggle_execute_tb
		<set>
			<if test="record.qrtzGroupId != null">
				QRTZ_GROUP_ID = #{record.qrtzGroupId,jdbcType=BIGINT},
			</if>
			<if test="record.qrtzCode != null">
				QRTZ_CODE = #{record.qrtzCode,jdbcType=VARCHAR},
			</if>
			<if test="record.execStatus != null">
				EXEC_STATUS = #{record.execStatus,jdbcType=CHAR},
			</if>
			<if test="record.execBeginTime != null">
				EXEC_BEGIN_TIME =
				#{record.execBeginTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.execEndTime != null">
				EXEC_END_TIME = #{record.execEndTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update triggle_execute_tb
		set QRTZ_GROUP_ID =
		#{record.qrtzGroupId,jdbcType=BIGINT},
		QRTZ_CODE =
		#{record.qrtzCode,jdbcType=VARCHAR},
		EXEC_STATUS =
		#{record.execStatus,jdbcType=CHAR},
		EXEC_BEGIN_TIME =
		#{record.execBeginTime,jdbcType=TIMESTAMP},
		EXEC_END_TIME =
		#{record.execEndTime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.huatai.web.model.TriggleExecute">
		update triggle_execute_tb
		<set>
			<if test="execStatus != null">
				EXEC_STATUS = #{execStatus,jdbcType=CHAR},
			</if>
			<if test="execBeginTime != null">
				EXEC_BEGIN_TIME = #{execBeginTime,jdbcType=TIMESTAMP},
			</if>
			<if test="execEndTime != null">
				EXEC_END_TIME = #{execEndTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where QRTZ_GROUP_ID = #{qrtzGroupId,jdbcType=BIGINT}
		and QRTZ_CODE =
		#{qrtzCode,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.huatai.web.model.TriggleExecute">
		update
		triggle_execute_tb
		set EXEC_STATUS = #{execStatus,jdbcType=CHAR},
		EXEC_BEGIN_TIME = #{execBeginTime,jdbcType=TIMESTAMP},
		EXEC_END_TIME =
		#{execEndTime,jdbcType=TIMESTAMP}
		where QRTZ_GROUP_ID =
		#{qrtzGroupId,jdbcType=BIGINT}
		and QRTZ_CODE =
		#{qrtzCode,jdbcType=VARCHAR}
	</update>
	<select id="findAll" resultMap="BaseResultMap"
		parameterType="com.huatai.web.model.TriggleExecute">
		select
		<include refid="Base_Column_List" />
		from triggle_execute_tb
		<where>
			<if test="qrtzGroupId !=null ">
				AND QRTZ_GROUP_ID=#{qrtzGroupId}
			</if>
			<if test="qrtzCode !=null and qrtzCode!=''">
				AND QRTZ_CODE=#{qrtzCode}
			</if>
			<if test="execBeginTime !=null">
				<![CDATA[AND EXEC_BEGIN_TIME > ]]>
				#{execBeginTime,jdbcType=TIMESTAMP}
			</if>
			<if test="execEndTime !=null">
				<![CDATA[AND EXEC_END_TIME <= ]]>#{execEndTime,jdbcType=TIMESTAMP}
			</if>
		</where>
	</select>
	<select id="findByPager" resultMap="ManyResultMap"
		parameterType="com.huatai.web.model.TriggleExecute">
		<!-- SELECT <include refid="Many_Column_List" /> from (SELECT a.*,(UNIX_TIMESTAMP(a.EXEC_END_TIME)-UNIX_TIMESTAMP(a.EXEC_BEGIN_TIME)) 
			as RESTIME from triggle_execute_tb a LEFT JOIN jdp_qrtz_trigger_cron b ON 
			a.QRTZ_CODE=b.code_ where b.OP_TYPE!='D') c -->
		SELECT
		A.code_ AS CODE,
		C.name_ AS NAME,
		B.QRTZ_CODE,
		B.EXEC_STATUS,
		B.EXEC_BEGIN_TIME,
		B.EXEC_END_TIME,
		B.EXEC_END_TIME - B.EXEC_BEGIN_TIME
		AS RESTIME
		FROM
		jdp_qrtz_trigger_cron A
		LEFT JOIN triggle_execute_tb B ON
		A.code_ = B.QRTZ_CODE
		LEFT JOIN
		jdp_qrtz_group C ON C.id_ =
		B.QRTZ_GROUP_ID
		<where>
			1=1
			ORDER BY RESTIME
			<if test="qrtzGroupId !=null ">
				AND B.QRTZ_GROUP_ID=#{qrtzGroupId}
			</if>
			<if test="qrtzCode !=null and qrtzCode!=''">
				AND B.QRTZ_CODE=#{qrtzCode}
			</if>
			<if test="execBeginTime !=null">
				<![CDATA[AND B.EXEC_BEGIN_TIME > ]]>
				#{execBeginTime,jdbcType=TIMESTAMP}
			</if>
			<if test="execEndTime !=null">
				<![CDATA[AND B.EXEC_END_TIME <= ]]>#{execEndTime,jdbcType=TIMESTAMP}
			</if>

		</where>
	</select>


	<delete id="deleteByQrtzCode">
		delete from
		triggle_execute_tb
		where
		QRTZ_CODE =
		#{qrtzCode}
	</delete>
</mapper>