@charset "utf-8";
/* CSS Document */

.sign-heading {
	position: relative;
	display: block;
	background: url(../images/bg-002.png) no-repeat;
	background-size: cover;
	width: 100%;
	height: 220px;
	text-align:center;
}
.btn-today {
	background: url(../images/btn-001.png) no-repeat;
	height: 50px;
	width: 282px;
	border: none;
	margin-top:60px;
	font-size:32px;
	color:#fff;
}
.btn-today:hover,.btn-today:focus {
	opacity:.9;
}
.sign-time{ position:absolute; display:block; right:60px; top:0px; background:#5bc0de; color:#fff; padding:10px 5px 0px; font-size:18px;}
.sign-time p{ font-size:40px;}