<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fairyland.jdp.framework.file.mapper.FileManagerMapper">
	
	<insert id="addAttach" parameterType="com.fairyland.jdp.framework.file.domain.Attach">
		<selectKey resultType="Long" order="BEFORE" keyProperty="attachId">
			SELECT SEQ_CRM_ATTACH.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO CRM_ATTACH_TB
		(
			ATTACHID,FUNCTIONID,FUNCTIONTYPE,FILENAME,PATH,OLDFILENAME,FILETYPE,
			FILESIZE,CREATEDBY,MODIFIEDBY,CREATETIME,MODIFYTIME,MEMOTEXT
		)
		VALUES
		(
			#{attachId}
			<if test="functionId != null">,#{functionId}</if>
			<if test="functionId == null">,NULL</if>
			
			<if test="functionType != null">,#{functionType}</if>
			<if test="functionType == null">,NULL</if>
			
			<if test="fileName != null">,#{fileName}</if>
			<if test="fileName == null">,NULL</if>
			
			<if test="path != null">,#{path}</if>
			<if test="path == null">,NULL</if>
			
			<if test="oldFileName != null">,#{oldFileName}</if>
			<if test="oldFileName == null">,NULL</if>
			
			<if test="fileType != null">,#{fileType}</if>
			<if test="fileType == null">,NULL</if>
			
			<if test="fileSize != null">,#{fileSize}</if>
			<if test="fileSize == null">,NULL</if>
			
			<if test="createdBy != null">,#{createdBy}</if>
			<if test="createdBy == null">,NULL</if>
			
			<if test="modifiedBy != null">,#{modifiedBy}</if>
			<if test="modifiedBy == null">,NULL</if>
			
			,sysdate
		    ,sysdate
		    <if test="memoText != null">,#{memoText}</if>
			<if test="memoText == null">,NULL</if>
		)
	</insert>
	
	<delete id="delAttach" parameterType="Long">
		DELETE FROM CRM_ATTACH_TB WHERE ATTACHID = #{attachId}
	</delete>
	
	<delete id="delAttachByFunTypeAndFunId" parameterType="Map">
		DELETE FROM CRM_ATTACH_TB WHERE FUNCTIONTYPE = #{functionType} AND FUNCTIONID = #{functionId}
	</delete>
	
	<update id="updateAttach" parameterType="Map">
		UPDATE CRM_ATTACH_TB SET FUNCTIONID = #{functionId} WHERE ATTACHID = #{attachId}
	</update>
	
	<select id="getAttachListByIdAndType" parameterType="Map" resultType="com.fairyland.jdp.framework.file.domain.Attach">
		SELECT T.* FROM CRM_ATTACH_TB T 
		<where>
			T.FUNCTIONID = #{functionId} AND T.FUNCTIONTYPE = #{functionType}
		</where>
	</select>
	
	<select id="getAttachById" parameterType="Long" resultType="com.fairyland.jdp.framework.file.domain.Attach">
		SELECT T.* FROM CRM_ATTACH_TB T 
		<where>
			ATTACHID = #{attachId}
		</where>
	</select>
	
	<select id="getRemarkAttachList" parameterType="Map" resultType="com.fairyland.jdp.framework.file.domain.Attach">
        SELECT  TT.*, t2.USERNAME as OWNERNAME
        FROM (SELECT T.REMARKID AS ATTACHID,
                   T.CREATEDBY,
                   T.CREATETIME,				 
                   to_char(T.FUNCTIONID) AS FUNCTIONID,
                   T.FUNCTIONTYPE,
                   '' AS PATH,
                   '' AS FILENAME,
                   '' AS OLDFILENAME,
				   '' as FILETYPE, 
                   T.REMARK AS MEMOTEXT,
                   '1' AS REMARKANDATTACHTYPE
              FROM CRM_REMARK_TB T 
              WHERE T.FUNCTIONID =#{functionId}
                    AND T.FUNCTIONTYPE =#{remarkFunctionType}
              UNION ALL
              SELECT T1.ATTACHID AS ATTACHID,
                   T1.CREATEDBY,
                   T1.CREATETIME,				   
                   T1.FUNCTIONID,
                   T1.FUNCTIONTYPE,
                   T1.PATH ,
                   T1.FILENAME,
                   T1.OLDFILENAME,
				   T1.FILETYPE ,
                   '' AS MEMOTEXT,
                   '2' AS REMARKANDATTACHTYPE
              FROM CRM_ATTACH_TB T1 
              WHERE T1.FUNCTIONID =#{functionId}
                   AND T1.FUNCTIONTYPE = #{attachFunctionType}) TT
         LEFT JOIN JDP_USER T2
              ON T2.ACCOUNT = TT.CREATEDBY
         ORDER BY TT.CREATETIME DESC
    </select>
	
</mapper>